.home{
  background-color: #555;  
}

.flyer{
    width: 90vw;
    overflow-wrap: normal;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    padding: 3px;    
}

.camera{
    width: 50vw;
    grid-area: 1 / 4 / 4 / 6; 
}

.gaming{
    width: 47vw;
    height: auto;
    grid-area: 1 / 1 / 7 / 4;
    
}

.music{
    width: 50vw;
    grid-area: 4 / 4 / 7 / 6;
}

.flyer > img {
    opacity: 1;
    border: 3px solid black;
    transition: opacity 0.5s linear;
}

.flyer > img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.sale{
    width: 100%;
    background: rgb(74,1,1);
    background: linear-gradient(0deg, rgba(74,1,1,0.9724264705882353) 16%, rgba(247,0,0,1) 100%);
    display: flex;
    justify-content: center;
    transition: opacity 0.5s;
}

.sale:hover{
    opacity: 0.5;
    cursor: pointer;
}

.sale img{
    width: 50%;
    overflow: auto;
}

.gallery{
    padding: 2rem;
    background-color: #333;
}

.gallery h2{
    font-family: Alkatra;
    font-size: 4rem;
}

.gallery div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}